---
version: '3'

services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant
    volumes:
      - type: bind
        source: /opt/docker/homeassistant/volumes/config
        target: /config
    ports:
      - 8123:8123
