[Unit]
Description=Docker Compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
User=root
Group=root
RemainAfterExit=true
WorkingDirectory=/opt/docker/ha/compose
ExecStart=/usr/local/bin/docker-compose up --detach --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
