---
# asd
version: '3'

services:
  home-assistant:
    image: homeassistant/home-assistant:2023.10.1
    volumes:
      - type: bind
        source: /opt/docker/home-assistant/volumes/config
        target: /config
    ports:
      - 8123:8123
